body {
  background-color: var(--white);
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin: 0 6rem 2rem 6rem;
  max-width: 1500px;
}

.image-container {
  max-height: 70vh;
  overflow: hidden;
}

.image-container > img {
  -o-object-fit: cover;
  object-fit: cover;
}

.about-description {
  color: var(--darkestgrey);
  font-family: var(--body);
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.about-description p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
  .about-container {
    margin: 0 auto;
    padding: 2rem 4rem;
    gap: 5rem;
  }
}

@media screen and (max-width: 1250px) {
  .about-container {
    margin: 0 2rem 2rem 2rem;
    gap: 5rem;
  }
}

@media screen and (max-width: 900px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 4rem 2rem 4rem;
    gap: 2rem;
  }

  .image-container {
    max-width: 70vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .about-container {
    /* grid-template-columns: repeat(1, 1fr); */
    margin: 0 2rem 2rem 2rem;
    /* gap: 2rem; */
  }
}
