/* Contact Section */

body {
  background-color: var(--white);
}

/* .info,
label[for="project"],
[placeholder] {
  font-family: var(--body);
  color: var(--darkestgrey);
  font-size: 1rem;
  letter-spacing: 0.5px;
} */

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 4rem 2rem 4rem;
  max-width: 1500px;
  margin: 0 auto;
}

.info--1,
.info--2,
.info--3 {
  font-family: var(--body);
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.info--1,
.info--2 {
  border-bottom: 1px var(--darkestgrey) solid;
}

.info--1,
.info--1 a {
  position: relative;
}

.info--1 a:link,
.info--1 a:visited {
  color: var(--copper);
}

.info--1 a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--copper);
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.info--1 a:hover::before {
  transform: scaleX(0);
}

.info div {
  width: 80%;
  padding-bottom: 3rem;
}

.info--2,
.info--3 {
  margin-top: 3rem;
}

/* .input-personal label,
.input-location label,
label[for="message"] {
  font-size: 12px;
  font-family: var(--body);
} */

.info--3 > span {
  font-weight: 600;
}

.info--3 > p {
  font-style: italic;
}

form h2 {
  font-family: var(--header);
  color: var(--darkestgrey);
  font-weight: 600;
  letter-spacing: var(--space);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.input-personal {
  display: -webkit-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.title-container {
  grid-column: 1 / -1;
}

.input-location {
  margin: 2rem 0 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.address-container {
  margin-top: 1rem;
  grid-column: 1 / -1;
}

input,
textarea,
select {
  width: 100%;
}

select#title,
select#project {
  padding: 0.5rem 0 0.5rem 0;
  border: none;
  border-bottom: 1px var(--darkestgrey) solid;
  /* font-style: normal; */
  /* font-size: 1rem; */
  background-color: var(--white);
  margin-bottom: 1rem;
}

select {
  font-family: var(--body);
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.first-name-container,
.last-name-container,
.email-container,
.phone-container,
.address-container,
.postal-code-container,
.area-container {
  position: relative;
  margin-bottom: 1.25em;
}

input {
  border: 0;
  border-bottom: 1px solid var(--darkestgrey);
  outline: none;
  padding: 0.2rem 0;
  font-size: 1rem;
  width: 100%;
}

label[for="first-name"],
label[for="last-name"],
label[for="email"],
label[for="phone"],
label[for="address"],
label[for="postal-code"],
label[for="area"] {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--body);
  color: var(--mediumgrey);
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  cursor: text;
  transition: 0.3s ease-in-out;
  width: 100%;
  font-size: 1rem;
}

label[for="title"] {
  font-size: 12px;
  font-family: var(--body);
  letter-spacing: 0.5px;
}

input:focus + label,
input:valid + label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--body);
  color: var(--mediumgrey);
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  cursor: text;
  transition: 0.3s ease-in-out;
  width: 100%;
  font-size: 1rem;
}

input:focus {
  border-bottom: 2px solid var(--darkestgrey);
}

label[for="project"] {
  margin: 1.5rem 0 0.5rem 0;
  font-family: var(--body);
  letter-spacing: 0.5px;
  font-size: 12px;
  color: var(--darkestgrey);
}

label[for="message"] {
  display: none;
}

textarea#message {
  padding: 1rem;
  border: 1px var(--darkestgrey) solid;
  background-color: var(--white);
  margin-bottom: 2rem;
  resize: none;
}

textarea::placeholder {
  font-family: var(--body);
  letter-spacing: 0.5px;
  font-style: italic;
  font-size: 1rem;
  color: var(--darkgrey);
}

textarea:focus::placeholder {
  color: transparent;
  transition: 0.2s;
}

#submit {
  border: solid 2px var(--copper);
  border-radius: 1.5rem;
  font-family: var(--body);
  font-size: 1rem;
  letter-spacing: var(--space);
  text-transform: lowercase;
  cursor: pointer;
  font-weight: 500;
  padding: 0.6rem;
  text-decoration: none;
  color: var(--copper);
  width: 8rem;
  margin: 0 auto;
}

#submit:hover {
  background: var(--copper);
  color: var(--white);
  transition: 0.5s;
}

form span {
  color: var(--red);
  font-size: 0.6em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  margin-top: 5px;
  letter-spacing: 1px;
}

.submit-container > span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

@media screen and (max-width: 1000px) {
  .contact-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .info,
  .form,
  .info div {
    width: 100%;
  }

  .info div {
    padding-bottom: 2rem;
  }

  .info--2,
  .info--3 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .info--1,
  .info--2,
  .info--3 {
    text-align: center;
  }

  .contact-container {
    padding: 0 2rem 2rem 2rem;
  }

  form > h2 {
    padding-top: 1rem;
    text-align: center;
  }

  .input-personal {
    grid-template-columns: repeat(1, 1fr);
  }
}
