/* Footer */

.limit {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-footer {
  -webkit-clip-path: polygon(0 0, 50% 30px, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 50% 30px, 100% 0, 100% 100%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  width: 100%;
  height: auto;
  font-family: var(--header);
  letter-spacing: 0.5px;
  font-size: 0.8rem;
  color: var(--white);
  padding: 4rem 4rem 3rem 4rem;
  flex: 1;
}

.legal-links li small {
  font-size: 0.8rem;
}

ul.social-links,
small,
.legal-links {
  display: flex;
}

.legal-links {
  gap: 1rem;
}

.legal-links li.policy,
.legal-links li.notice {
  border-right: 1px var(--white) solid;
  padding-right: 1rem;
}

.legal-links li a:link,
.legal-links li a:visited {
  position: relative;
}

.legal-links li a:link::before,
.legal-links li a:visited::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.legal-links li a:hover::before,
.legal-links li a:active::before {
  transform: scaleX(0);
}

.social-links {
  display: flex;
  gap: 3rem;
}

.social-links img {
  width: 40px;
  height: 40px;
}

.social-links img:hover,
.social-links img:active {
  border: solid 2px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 900px) {
  .main-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem 0 3rem 0;
  }

  .social-links {
    padding-top: 1rem;
  }

  .legal-links {
    padding: 2.5rem 0 1rem 0;
  }
}

@media screen and (max-width: 700px) {
  .main-footer {
    font-size: 0.8rem;
  }

  .social-links {
    gap: 4rem;
  }

  .legal-links {
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .legal-links li.policy {
    padding-right: 2rem;
  }

  .legal-links li.notice {
    padding-right: 0;
    border-right: none;
  }

  .legal-links li.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .legal-links {
    -webkit-box-orient: vertical;
    align-items: center;
  }

  .legal-links li small {
    font-size: 0.7rem;
  }
}
