/* Main Navigation */

.general-navigation {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 10;
}

.desktop-navigation > ul {
  width: 100%;
  background: rgba(255, 255, 255, 0.881);
  height: 6rem;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

/* underline navigation */
.desktop-navigation::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.256),
    var(--black),
    rgba(0, 0, 0, 0.256),
    rgba(0, 0, 0, 0)
  );
}

li.logo {
  width: 100px;
  height: auto;
  margin-right: 2rem;
  order: 3;
}

li.logo img {
  width: 100%;
  height: auto;
}

li.home {
  order: 1;
}

li.portfolio {
  order: 2;
}

li.about {
  order: 4;
}

li.contact {
  order: 5;
}

.desktop-navigation > ul li {
  display: flex;
  gap: 1rem;
  color: var(--black);
}

/* i.fa-chevron-down:hover {
  transform: rotate(180deg);
} */

.desktop-navigation ul a:link,
.desktop-navigation ul a:visited {
  font-family: var(--nav);
  font-size: 1.2rem;
  position: relative;
}

.desktop-navigation > ul a.desktop-link:link::before,
.desktop-navigation > ul a.desktop-link:visited::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.desktop-navigation > ul a.desktop-link:link:hover::before,
.desktop-navigation > ul a.desktop-link:link:active::before {
  transform: scaleX(1);
}

li.desktop-trigger {
  position: relative;
}

.desktop-trigger i {
  font-size: 1rem;
  padding-top: 6px;
  cursor: pointer;
}

.portfolio-dropdown,
.about-dropdown {
  display: none;
}

.dropdown li {
  font-size: 1rem;
  color: var(--black);
  width: 100%;
  padding: 1.1rem 0 1.1rem 0;
}

.portfolio-dropdown.active,
.about-dropdown.active {
  display: block;
  position: absolute;
  height: auto;
  left: -18%;
  width: 140%;
  top: 215%;
  background: var(--white);
  border-radius: 0 0 10px 10px;
  /* border: 1px solid var(--darkestgrey); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 1px,
    rgba(100, 100, 111, 0.2) 0px 2px 2px, rgba(100, 100, 111, 0.2) 0px 4px 4px,
    rgba(0, 0, 0, 0.05) 0px 8px 8px, rgba(100, 100, 111, 0.2) 0px 8px 8px;
  border-top: none;
  padding-left: 16px;
}

/* Alternative Dropdown Style */
/* .portfolio-dropdown.active,
.about-dropdown.active {
  display: block;
  position: absolute;
  height: auto;
  left: -18%;
  width: 140%;
  top: 100%;
  padding-top: 2rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.941),
    rgba(255, 255, 255, 0.941),
    #fff
  );
  border-radius: 10px;
  padding-left: 16px;
} */

.mobile-navigation {
  display: none;
}

@media screen and (max-width: 850px) {
  .desktop-navigation {
    display: none;
  }

  .mobile-navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.744);
    height: 6.5rem;
    width: 100%;
    padding: 1rem;
  }

  .logo {
    height: 70%;
    margin: 0 auto;
    padding-right: 1.9rem;
  }

  .logo img {
    height: 100%;
    width: 100%;
  }

  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 22px;
    margin-left: 0.5rem;
  }

  .nav-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    transition: all 100ms ease-in-out;
  }

  .nav-toggle:hover {
    cursor: pointer;
  }

  .x:nth-of-type(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
  }

  .x:nth-of-type(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
  }

  .x:nth-of-type(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 28px;
  }

  .mobile-navigation::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.256),
      var(--black),
      rgba(0, 0, 0, 0.256),
      rgba(0, 0, 0, 0)
    );
  }

  .links {
    display: none;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .links.active {
    font-family: var(--nav);
    font-size: 1.5rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 100%;
    left: 0;
    right: 0;
    color: var(--lightgrey);
    background: var(--black);
    padding: 4rem 0 2rem 2rem;
    gap: 2.5rem;
    overflow: scroll;
  }

  .portfolio-sub-content-hidden,
  .about-sub-content-hidden {
    display: none;
  }

  .portfolio-button,
  .about-button {
    margin-left: 1rem;
    font-size: 1.3rem;
  }

  .portfolio-sub-content-visible,
  .about-sub-content-visible {
    display: flex;
    width: auto;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 1.5rem;
    color: var(--lightgrey);
    font-family: var(--header);
    letter-spacing: var(--space);
  }

  .mobile-sub-nav i {
    cursor: pointer;
  }
}
