/* Hero Section */

.hero-container {
  background-image: url("bg-images/lines.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  width: 50%;
  margin-top: 8rem;
}

.hero-title h1 {
  font-family: var(--title);
  font-size: 2rem;
  color: var(--darkestgrey);
  text-transform: lowercase;
  font-weight: 600;
  /* letter-spacing: var(--space); */
  position: relative;
  z-index: 5;
  display: inline-block;
}

h1::after {
  background-color: var(--beige);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 65%;
  left: -2px;
  bottom: 8px;
  z-index: -1;
  transform: rotate(-1.5deg);
  /* border-radius: 1.5rem; */
}

.hero-title p {
  letter-spacing: 1px;
  font-family: var(--header);
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--black);
}

@media screen and (max-width: 850px) {
  .hero-container {
    background-position: top right;
    background-image: url("bg-images/lines-mobile.jpg");
  }

  .overlay {
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.848);
  }

  .hero-title {
    margin-top: 0;
    width: 75%;
    padding: 2rem 1rem;
  }

  .hero-title h1 {
    font-size: 1.7rem;
  }

  .hero-title p {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  /* 
  h1::after {
    background-color: transparent;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    transform: 0;
    border-radius: 1.5rem; 
  } 
*/
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 50%;
  }

  .hero-title h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  .hero-title p {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
