/* Info Section */
body {
  background-color: var(--white);
}

.info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 1rem 4rem 4rem 4rem;
  max-width: 1500px;
  margin: 0 auto;
}

.subpage {
  background-color: var(--lightgrey);
}

.info-container .img-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.info-container .img-container > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Hover option for the images */
/* .info-container .img-container > img:hover {
  transform: translate(-50%, -50%) scale(1.05);
  transition: 0.2s linear;
} */

.info-container .info {
  display: flex;
  justify-content: center;
  padding: 3rem 0 3rem 0;
}

.info-container .info section {
  width: 70%;
}

.info-container section h2 {
  font-family: var(--header);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--darkestgrey);
  letter-spacing: var(--space);

  /* position: relative;
  z-index: 1; */
  display: inline-block;
}

/* h2::after {
  background-color: #596c4649;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 65%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-1deg);
} */

.info-container section p {
  font-family: var(--body);
  font-size: 1rem;
  color: var(--darkestgrey);
  letter-spacing: 0.5px;
}

@media screen and (max-width: 850px) {
  .info-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem 2rem 2rem 2rem;
  }

  .info-container .info section {
    width: 80%;
  }
}

/* Other style for the info sections */
/* 
@media screen and (max-width: 850px) {
  .info-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem 2rem 2rem 2rem;
  }

  .subpage {
    position: relative;
  }

  .img-container {
    height: 100%;
  }

  .info {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: rgba(237, 237, 237, 0.892);
  }

  .info section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} */

@media screen and (max-width: 700px) {
  /* #info-container .info section {
    text-align: center;
  } */

  .info-container .img-container {
    height: 500px;
  }
}
